<template bindable="router">
    <div class="pull-left" role="navigation" style="width: 60px; background-color: #111111; height: 100%">
        <a class="logo" href="#" style="margin-bottom: 20px; display: block">
            <img src="./../../../static/images/logo.png">
        </a>
        <ul style="padding: 0 0 0 19px;">
            <li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}" style="display: block">
                <div style="margin-bottom: 30px;">
                    <a href.bind="row.href" class="rm-nav-item-${row.settings.cssClass}">
                        <i repeat.for="icon of row.settings.icons" class="fa fa-${icon}"></i>
                    </a>
                </div>
            </li>
        </ul>

        <ul>
            <li class="loader" if.bind="router.isNavigating">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </li>
        </ul>
    </div>



    <!--<div class="sidenav">-->
        <!--<div class="logo">-->
            <!--<img image-src="./images/logo.png" uib-tooltip="weeeeee" tooltip-placement="right" tooltip-popup-delay="2000" tooltip-append-to-body="true">-->
        <!--</div>-->
        <!--<ul>-->
            <!--<li uib-tooltip="Manage Connections" tooltip-placement="right" tooltip-popup-delay="800" tooltip-append-to-body="true" ng-click="showConnections(null, $event)">-->
      <!--<span class="server-icon">-->
        <!--<i class="fa fa-server"></i>-->
        <!--<i class="fa fa-plus-circle"></i>-->
      <!--</span>-->
            <!--</li>-->
            <!--<li uib-tooltip="Settings" tooltip-placement="right" tooltip-popup-delay="800" tooltip-append-to-body="true" ng-click="showSettings($event)">-->
                <!--<i class="fa fa-cog"></i>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
</template>
